/JavaDatabaseConn.class
/DonatoreDAO.class
/DonazioneDAO.class
/IDonatoreDAO.class
/IDonazioneDAO.class
/ILoginRegistrazineDAO.class
/IRichiestaSaccaDAO.class
/LoginRegistrazioneDAO.class
/RichiestaSaccaDAO.class
