/Donatore.class
/DonatoreDAO.class
/GruppoSanguigno.class
/IDonatoreDAO.class
/Persona$MappaGruppi.class
/Persona.class
/Paziente.class
/urgenza.class
/ILoginRegistrazineDAO.class
/LoginRegistrazione.class
/LoginRegistrazioneDAO.class
/MainController.class
